extends layout 
 
block content 
  h1= title 
  - let mangoid = toShow._id 
  - let mango_type = toShow.types 
  - let mangotaste = toShow.taste 
  - let mangocost = toShow.cost 
  
  div 
    div.row 
      div(class='mangoAttr mr-3') mango ID is: 
      div #{mangoid} 
    div.row 
      div(class='mangoAttr mr-3') mango Type is: 
      div #{mango_type} 
    div.row 
      div(class='mangoAttr mr-3') mango Size is: 
      div #{mangotaste} 
    div.row 
      div(class='mangoAttr mr-3') mango Cost is: 
      div #{mangocost} 

    button(class="btn btn-danger m-2" onclick="gobackOnid()") goback  
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 

  script. 
    function cancel() { 
      // Go back to the home page for the mango collection 
      window.location.href='/mangos' 
    } 
  script. 
    function gobackOnid() { 
     window.location.href='/mangos'
   }